[core]
  excludesfile = ~/.my-env/git/.gitignore
[push]
  default = simple
[user]
  name = fiuzagr
  email = gui.fiuza@gmail.com
[alias]
  undo = reset --soft HEAD~1
  find-deleted = rev-list -n 1 HEAD
  recovery-deleted = !sh -c 'git checkout $(git find-deleted -- "$1")^ -- "$1"' -
[credential]
  helper = cache --timeout=360000
[core]
  editor = vim
[diff]
  tool = vimdiff
[merge]
  tool = vimdiff
[difftool]
  prompt = false
