[core]
  excludesfile = ~/.my-env/git/.gitignore
[push]
  default = simple
[user]
  name = Guilherme Fiuza
  email = gui.fiuza@gmail.com
[alias]
  undo = reset --soft HEAD~1
  find-deleted = rev-list -n 1 HEAD
  recovery-deleted = !sh -c 'git checkout $(git find-deleted -- "$1")^ -- "$1"' -
  tree = log --pretty=format:'%Cgreen%h%Creset -%C(auto)%d%Creset %s %C(cyan)<author:%an | committer:%cn>%Creset' --graph --color --all --decorate
[credential]
  helper = cache --timeout=360000
[core]
  editor = vim
[diff]
  tool = vimdiff
[merge]
  tool = vimdiff
[difftool]
  prompt = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
