#############
# ignore all
*
.*

##############
# directories
!fiuzagr
!fiuzagr/**/*
!fiuzagr/**/.*

!emacs-bootstrap
!emacs-bootstrap/**/*
!emacs-bootstrap/**/.*

########
# files
!init.el
!.gitignore
