#############
# ignore all
*
.*

#####################
# include directories
!fiuzagr
!fiuzagr/**/*
!fiuzagr/**/.*

!emacs-bootstrap
!emacs-bootstrap/**/*
!emacs-bootstrap/**/.*

###############
# include files
!init.el
!.gitignore



################
# KEEP ON BOTTON
# Force ignore
custom.el
